<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UUID</key>
	<string>02C0CC52-3F87-4C2A-AFF8-3193047E582B</string>
	<key>Version</key>
	<integer>513</integer>
</dict>
</plist>
